<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <title>{{ data["name"] }}</title>
</head>
<body>
    <div class="ui container" style="margin-top: 5%;">
        <h1>{{ data["name"] }}</h1>
        <img class="ui medium rounded image" src="{{ data['imgs'][data['name']] }}">
        <div class="ui raised segment">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a arcu a nisi interdum posuere. Nulla sodales hendrerit massa, sed tempus est pretium eu. Mauris non neque eget felis dignissim aliquet in eget odio. Vivamus non gravida erat. Suspendisse potenti. Integer scelerisque nulla at justo pellentesque, ut ultrices arcu tincidunt. Praesent quis finibus urna, non accumsan mi. Donec purus felis, auctor at interdum sed, laoreet eget lorem. Nunc vel rhoncus sem, ac congue purus. Maecenas nec diam consectetur, sollicitudin leo sed, feugiat purus. Nunc imperdiet erat eu est consectetur posuere. Integer sit amet ullamcorper elit, id imperdiet nisl. Ut imperdiet risus non congue faucibus. Sed vulputate bibendum imperdiet.</p>
</div>
    </div>

</body>
</html>